.btn-block {
  background-color: grey;
  height: 40px;
}
button {
  height: 30px;
  width: 50px;
  background-color: rgb(255, 0, 149);
  margin-top: 5px;
}
.blue {
  background-color: blue;
}
.red {
  background-color: red
}
